{{#extend "meta" "metatag"}}
  <meta charset="utf-8">
  <meta content="website" property="og:type">
  <meta content="{{cfg "services.name"}}" property="og:site_name">
  <meta content="//{{cfg "services.url"}}" property="og:url">
  <meta content="{{cfg "services.name"}} homepage" property="og:title">
  <meta content="{{cfg "services.name"}}. Hello world" property="og:description">
  <meta content="//icon/logo.png" property="og:image">
  <meta name="viewport" content="user-scalable=no, initial-scale=1, minimun-scale=1, width=device-width">
{{/extend}}

<title>{{cfg "services.name"}}</title>
