<!DOCTYPE>
<html xml:lang="{{lang}}" lang="{{lang}}">

<head>
  <meta charset="UTF-8">

  {{!-- meta tag --}}
  {{{block "meta"}}}

  <link rel="shortcut icon" href="/icon/favicon.ico" type="image/x-icon"/>

  {{!-- css --}}
  {{> pc/stylesheet}}
</head>

<body lang="{{lang}}">
  {{!-- header --}}
  {{{block "header"}}}

  {{!-- contents --}}
  {{{body}}}

  {{!-- footer --}}
  {{{block "footer"}}}

  {{!-- footer script --}}
  {{> pc/footer_script }}

  {{{block "modal"}}}
</body>
</html>
